# Data folder - contains dataset we do not commit, have to be downloaded manually
/data_local/
/models_local/

# Scripts imports - contains scripts we do not commit, have to be downloaded manually
/scripts-imports/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class


# MLflow
mlruns/

# IDE
.vscode/
.cursor/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
